# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/

# Jetbrains IDE
.idea

# Mac/OSX
.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
cover/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment files
.env
*.env
!example.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
